@media (max-width: 639px) { 
  .company-container {
    background-color: rgb(255,255,255, 0.05);
    @apply rounded-lg;
  }
  .subpage-subtitle {
    word-spacing: 12px;
  }
}

.company-container {
  @apply sm:grid sm:grid-cols-2 mb-12 xl:mb-16 py-2 px-2;
}

.company-card {
  @apply justify-start sm:mr-4 xl:mr-0;
}

.company-image {
  @apply w-full;
}

.link-about-company {
  color: #64748B;
  @apply text-xs sm:text-sm lg:text-lg italic font-semibold my-3 xl:my-2.5;
}

.company-information-container {
  @apply justify-end sm:ml-4 xl:ml-24 xl:max-w-sm;
}

.company-name-section {
  @apply text-neutral-900 font-semibold text-2xl xl:text-3xl mt-2 sm:mt-0;
}

.company-rating {
  @apply flex sm:grid sm:grid-cols-2 justify-between mt-2 xl:mt-4 sm:w-60 xl:w-72;
}

.company-rating-text {
  @apply ml-6 xl:ml-1.5 text-neutral-600 text-xs xl:text-sm;
}

.company-review-total {
  @apply text-neutral-600 text-xs xl:text-sm mt-2 xl:mt-4 mb-6 xl:mb-24;
}

.rate-this-company-button {
  @apply w-60 xl:mt-2 px-4 py-2 inline-flex justify-self-center border border-transparent shadow-sm rounded-md text-base font-semibold text-neutral-900 bg-indigo-300 hover:bg-indigo-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-200;
}

.icon-button-rate-company {
  @apply ml-4 mr-1 h-5 w-5 mt-1;
}

.cultural-characteristics-container {
  background-color: #FAFAFF;
  @apply rounded-lg border py-8 px-3 xl:py-9 xl:px-12;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
}

.title-characteristics {
  @apply text-2xl xl:text-3xl font-semibold;
  color: #4F46E5;
}

.traditional-characteristics-container {
  background-color: #FAFAFF;
  @apply rounded-lg border py-8 px-3 xl:py-9 xl:px-12;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
}

.title-question-section {
  @apply text-neutral-800 text-base sm:text-xl xl:text-2xl font-semibold mb-8;
}

.text-question-section {
  @apply text-neutral-900 text-base xl:text-lg font-normal mb-7 sm:mb-8 max-w-xl;
}
