@media (min-width: 640px) { /* >= tablet */
  .infopage-bg {
    background-image: url("../../public/images/hero-left-blobs-space.svg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 850px;/* 39% 48%; */
  }
}

@media (min-width: 1280px) { /* >= desktop */
  .infopage-bg {
    /*background-image: url("../../public/images/hero-left-blobs-space.svg"), url("../../public/images/right-top-blobs-cut.svg"); */
    background-image: url("../../public/images/hero-left-blobs-space.svg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 1460px /*470px 450px;*/
  }
}

#content-page {
  height: 100%;
}

.content-info {
  height: 100%;
}

.infopage-bg {
  @apply xl:max-w-screen-2xl mx-auto /*pt-3 sm:pt-6 xl:pt-10 pb-10 xl:pb-36 */
}

.infopage-content {
  @apply max-w-3xl mx-auto
  /*@apply mx-auto max-w-7xl py-12 px-4 sm:py-16 sm:px-6 lg:px-8 */
}

.infopage-content-title {
  @apply pt-7 sm:pt-10 xl:pt-14 text-3xl sm:text-4xl xl:text-5xl sm:leading-9 xl:leading-10 font-bold;
  color: #4F46E5;
}

.infopage-content-subtitle {
  @apply mt-3 xl:mt-4 mb-6 sm:mb-9 xl:mb-14 text-xl xl:text-3xl sm:leading-7 xl:leading-9 sm:font-semibold xl:font-medium;
  color: #4F46E5;
}

.infopage-content-items {
  @apply px-5 sm:px-9 rounded-2xl bg-white space-y-0 divide-y divide-gray-200
}

.infopage-content-title-items {
  @apply font-medium text-lg sm:text-xl xl:text-2xl sm:leading-7 xl:leading-8
}

.color-name-content {
  color: #64748B;
}

.bg-header {
  background: #EEF2FF;
}

.header-navbar {
  background: #EEF2FF;
}

.navbar-section {
  @apply max-w-screen-2xl mx-auto;
}

.header {
  @apply pt-3 pb-1 mx-6 sm:ml-12 xl:ml-40 flex justify-between;
}

.logo {
  @apply w-20 xl:w-24;
}

.infopage-menu-section {
  @apply hidden
}

.infopage-footer-section {
  @apply flex justify-between mx-6 xl:mx-40 sm:mx-12 py-1.5;
}