.first-section {
  background-image: url("../../public/images/top-image.svg");
  background-repeat: no-repeat; 
  height: 376px;
  background-size: 100% auto;
}

.header-section {
 @apply py-5 ml-40;
}

.title-section {
  @apply w-72 mt-10 ml-64;
}

.title-text {
  color: #F8FAFC;
  @apply text-6xl font-bold leading-normal;
}

.search-section {
  @apply mt-20 lg:w-2/5 px-4;
}

.sub-title-text {
  color: #FFFFFF;
  @apply text-2xl mb-6;
}

.search-item {
  @apply w-full;
}

.information-section {
  @apply mt-14;
}

.information-section-item {
  color: #fff;
  width: 50%;
  @apply text-lg font-normal;
  
}

.third-section {
  @apply mb-14;
  background-color: rgb(255, 255, 255, 0.05);
}

.rate-section {
  color: #fff;
  @apply text-lg w-5/6 lg:w-2/5;
}

.rate-section-item {
  @apply w-1/2;
}
