@media (max-width: 639px) { 
  .subpage-footer-bg {
    background-color: #EEF2FF;
    @apply pb-2 pt-4;
  }
}

.subpage-container {
  @apply max-w-screen-2xl mx-auto;
}

.subpage-header {
  @apply flex justify-between mx-6 xl:mx-40 sm:mx-12 py-1.5;
}

.subpage-footer {
  @apply flex justify-between mx-6 xl:mx-40 sm:mx-12 mt-14 py-1.5;
}

.subpage-bg-header {
 background: #EEF2FF;
}

.subpage-logo {
  @apply w-20 xl:w-24;
}

.subpage-rate-search-section {
  @apply flex lg:ml-0 ml-6 gap-4 xl:gap-10;
}

.subpage-rate-button {
  @apply hidden sm:inline-flex justify-self-center px-4 py-2 h-11 mt-1 border border-transparent shadow-sm text-base font-semibold rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}

.subpage-rate-button-mobile{
  @apply sm:hidden justify-self-center mt-1 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
}

.subpage-search-select {
  @apply hidden lg:block h-11 w-full mt-2 focus:ring-indigo-500 focus:border-indigo-500 rounded-md border-neutral-400 bg-white px-4 py-1 pl-11 text-gray-900 placeholder-neutral-400 sm:text-sm;
}

.subpage-search-select-expanded {
  @apply  lg:block h-10 w-full focus:ring-indigo-500 focus:border-indigo-500 rounded-md border-0 bg-gray-100 px-4 py-1 pl-11 text-gray-900 placeholder-gray-500 sm:text-sm;
}

.subpage-navbar-menu {
  @apply lg:hidden absolute z-40 w-full bg-gray-800 text-white;
}

.subpage-navbar-menu-content {
  background-color: rgb(255,255,255, 0.05);
  @apply pt-2 pb-3 space-y-1;
}

.subpage-title {
  @apply sm:flex justify-between mx-6 sm:mx-20 xl:mx-64 mt-3 sm:mt-6 xl:mt-14 mb-8 sm:mb-12 xl:mb-20 text-2xl xl:text-5xl font-bold;
  color: #4F46E5;
}

.subpage-menu-section {
  @apply hidden sm:block max-w-3xl mx-20 xl:mx-auto;
}

.subpage-main {
  @apply mx-6 sm:mx-20 xl:max-w-3xl xl:mx-auto mb-14 xl:mb-24 text-neutral-50;
}

.subpage-search-icon {
  @apply cursor-pointer pointer-events-auto xl:absolute xl:top-3 mt-2 xl:mt-0 xl:left-4 h-6 xl:h-5 w-6 xl:w-5 text-gray-400;
}

.subpage-search-expanded {
  @apply absolute z-50 top-3 left-2 w-full pl-3 pr-7;
}
