.footer-bg {
  background: #EEF2FF;
}

.footer {
  
}

.footer-section {
  @apply mx-6 sm:ml-12 xl:ml-40;
}

.menu-text {
  color: #475569;
  @apply py-4 text-xs xl:text-sm font-semibold;
}

.footer-text {
  color: #334155;
  @apply text-sm mt-3 xl:mt-4;
}

.footer-logo {
  @apply w-20 xl:w-24;
}
